<%- include('layout/header') %>
<div class="con m-5">
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <p>Welcome to our website! We are dedicated to providing secure and reliable data storage solutions.</p>
        <p>Our team is committed to ensuring your data remains private and protected at all times.</p>
    </main>
</div>
<%- include('layout/footer') %> 

