<!-- Footer -->
<footer class="card page-footer font-small mt-3 pt-4  text-light bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left"> 
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">DataVault</h5>
          <p>Store data securely.</p>
  
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Group Members</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Ben George C0861079</a>
            </li>
            <li>
              <a href="#!">Merin Jose C0860476</a>
            </li>
            <li>
              <a href="#!">Rammohan Palliyil C0859199</a>
            </li>
            <li>
              <a href="#!">Richa Bhandari C0827149</a>
            </li>
            <li>
                <a href="#!">Yash Upadhyay C0857092</a>
              </li>
          </ul>
        </div>  
      </div>
    </div>  
  </footer>
  <!-- Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js" integrity="sha512-ToL6UYWePxjhDQKNioSi4AyJ5KkRxY+F1+Fi7Jgh0Hp5Kk2/s8FD7zusJDdonfe5B00Qw+B8taXxF6CFLnqNCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [0,'desc']
            });
        });
    </script>
    </body>
    </html>